<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; user-scalable=1;"/>
	<title>Razvijalec.si</title>
	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>

<h1>{{ page.title }}</h1>
<hr/>
{{ content }}
<hr/>
<footer>
	<ul>
		<li><a href="/">Prva stran</a></li>
		<li>Te ni na seznamu? Dodaj se na <a href="https://github.com/razvijalec/razvijalec.github.io">github.com/razvijalec</a></li>
	</ul>
</footer>
</body>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-154142-9");
pageTracker._trackPageview();
} catch(err) {}</script>
</html>